* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #1a1919;
  font-family: sans-serif;
}

.display-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  color: white;
  letter-spacing: 20px;
  font-size: large;
  flex-wrap: wrap;
}

.char-container {
  text-decoration: underline;
  padding: 3px 0;
}

.container {
  background-color: #1d1d1d;
  height: 300px;
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px;
}
button {
  padding: 15px;
  margin: 20px 10px;
  background-color: #1d1d1d;
  color: #fff;
  font-size: 20px;
  outline: 0;
  box-shadow: 2px 1px 3px 0px black;
}

.key {
  color: red;
  box-shadow: 5px 5px 18px blue;
 
}
